.fb-blue {
    background-color: $fb-blue;
}

.login-page {
    background-color: $accent-blue-transp;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .splash-logo{
        width: 35em;
        height: 35em;
        background-color: $primary-white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 20em;
    }
}