.login-button {
    background-color: $primary-black;
    color: $primary-white;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    height: 7.5em;
    top: 65%;
    border-radius: 1em;

    .fa {
        float: left;
        font-size: 3.5em;
        position: relative;
        left: .9em;
        top: .55em;
    }

    p {
        float: right;
        font-size: 2.5em;
        position: relative;
        bottom: .3em;
        right: 3.5em;
    }
}

.fb-blue {
    background-color: $fb-blue;
}

.login-page {
    background-color: $accent-blue-transp;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .splash-logo{
        width: 35em;
        height: 35em;
        background-color: $primary-white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 20em;
    }
}