.welcome-block {
    height: 38em;
    width: 100%;
    background-color: $primary-black;
    order: 1;
}

.wb-NLI {
    height: 68em;
}

.profiel-block {
    @extend .welcome-block;
    @extend .wb-NLI;

    text-align: center;

    h1 {
        color: $dark-grey;
        font-family: 'Suez One';
        font-size: 3em;
        margin-top: 0;
        padding-top: 2.5em;
    }

    .profile-pic {
        box-sizing: border-box;
        border: .5em solid $primary-white;
        border-radius: 50%;
        width: 30em;
        height: 30em;
        margin-left: auto;
        margin-right: auto;
        background: url(../../assets/img/batman.jpg) center;
        background-size: auto 30em;
    }

    h2 {
        color: $primary-white;
        font-size: 5em;
        margin: 0;
        margin-top: .4em;
        font-weight: 100;
    }

    p {
        margin: 0;
        font-size: 3em;
        position: relative;
        bottom: .4em;
        color: $dark-grey;
        font-weight: 100;
    }

    h3 {
        margin: 0;
        font-size: 3.5em;
        color: $primary-white;
        font-weight: 100;
        position: relative;
        top: .8em;
    }
}

.welcome-text {
    font-family: 'Suez One';
    margin-top: 8em;
    margin-left: 5em;

    h2 {
        font-size: 5em;
        color: $light-grey;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 7em;
        color: $primary-white;
        letter-spacing: .02em;
        font-weight: 500;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: .2em;
    }
}

.wt-NLI {
    margin-top: 12em;

    h2 {
        color: $primary-white;
        font-size: 6.5em;
    }

    h1 {
        font-size: 10em;
        position: relative;
        bottom: .35em;
    }

    h3 {
        color: $light-grey;
        font-size: 3.2em;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 2em;
    }
}

.ontdek-login {
    .know-eachother {
        margin-left: 2em;
        font-size: 2.5em;
        color: $dark-grey;
    }

    .login-button {
        position: relative;
        width: 85%;
        top: 1em;
    }

    p {
        right: 4em;
        bottom: .45em;
        font-size: 2.9em;
        font-weight: 100;
    }
}

.ontdek-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}