.welcome-block {
    height: 15em;
    width: 100%;
    background-color: $primary-black;
    order: 1;
}

.wb-NLI {
    height: 24em;
}

.profiel-block {
    @extend .welcome-block;
    @extend .wb-NLI;

    text-align: center;

    height: 27em;

    h1 {
        color: $middle-grey;
        font-family: 'Suez One';
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 2.5em;
        font-weight: 200;
    }

    .profile-pic {
        box-sizing: border-box;
        border: .2em solid $primary-white;
        border-radius: 50%;
        width: 12em;
        height: 12em;
        margin-left: auto;
        margin-right: auto;
        background: url(../../assets/img/batman.jpg) center;
        background-size: auto 12em;
    }

    h2 {
        color: $primary-white;
        font-size: 2em;
        margin: 0;
        margin-top: .4em;
        font-weight: 100;
    }

    p {
        margin: 0;
        font-size: 1em;
        position: relative;
        bottom: .4em;
        color: $middle-grey;
        font-weight: 100;
    }

    h3 {
        margin: 0;
        font-size: 1.1em;
        color: $primary-white;
        font-weight: 100;
        position: relative;
        top: 1em;
    }
}

.welcome-text {
    font-family: 'Suez One';
    margin-top: 4em;
    margin-left: 2em;

    h2 {
        font-size: 2em;
        color: $light-grey;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 3em;
        color: $primary-white;
        letter-spacing: .02em;
        font-weight: 500;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: .2em;
    }
}

.wt-NLI {
    margin-top: 3em;
    height: 8.8em;

    h2 {
        color: $primary-white;
        font-size: 2.5em;
    }

    h1 {
        font-size: 3.5em;
        position: relative;
        bottom: .35em;
    }

    h3 {
        color: $light-grey;
        font-size: 1.1em;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 1.8em;
        font-weight: 200;
    }
}

.ontdek-aanmelden {

    .know-eachother {
        margin-left: 2em;
        font-size: 1em;
        color: $dark-grey;
    }

    .lines-icon {
        font-size: 1.5em;
        position: relative;
        top: .45em;
        left: .6em;
    }

    p {
        right: 6em;
        bottom: .2em;
        font-size: 1em;
        font-weight: 100;
    }
}

.aanmelden-button {
    background-color: $light-grey;
    color: $primary-white;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: .5em;
    position: relative;
    width: 83%;
    top: .1em;

    .lines-icon {
        position: absolute;
        left: 1em;
    }

    p {
        position: absolute;
        top: 28%;
        margin: 0;
        font-weight: 100;
        left: 4.5em;
    }
}

.ontdek-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ontdek-login {
    display: inline-block;
    color: $accent-blue;
    position: relative;
    bottom: 1.1em;
    left: 14em;
}