/**
 * Settings: colors
 */

$primary-black        : #272D2C;
$primary-black-transp : rgba(39, 45, 44, 0.7);
$primary-white        : #F2F4F4;
$primary-white-transp : rgba(242, 244, 244, 0.6);
$clear-grey           : #F9F9F9;
$light-grey           : #979FA0;
$middle-grey          : #9BA3A4;
$dark-grey            : #5F6666;
$blueish-grey         : #657A78;
$accent-blue          : #16C4B3;
$accent-blue-transp   : rgba(22, 169, 179, 0.7);
$accent-red           : #D32647;
$accent-red-transp	  : rgba(211, 38, 71, 0.7);
$accent-yellow        : #E5B10C;
$accent-yellow-transp : rgba(229, 177, 12, 0.8);