/*
Error: Invalid CSS after "	margin-right": expected "{", was ";"
        on line 174 of style.scss

169: 	flex-direction: row;
170: 	flex-wrap: wrap;
171: 	justify-content: space-between;
172: 	align-items: flex-start;
173: 	margin-left: auto;
174: 	margin-right;
175: }
176: 
177: .subt {
178: 	flex-shrink: 0;
179: 	flex-grow: 0;

Backtrace:
style.scss:174
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1162:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1098:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1093:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:638:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:658:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:650:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:639:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:632:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:657:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:650:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:117:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:42:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:328:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `call'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	margin-right\": expected \"{\", was \";\"\A         on line 174 of style.scss\A \A 169: 	flex-direction: row;\A 170: 	flex-wrap: wrap;\A 171: 	justify-content: space-between;\A 172: 	align-items: flex-start;\A 173: 	margin-left: auto;\A 174: 	margin-right;\A 175: }\A 176: \A 177: .subt {\A 178: 	flex-shrink: 0;\A 179: 	flex-grow: 0;"; }
