$primary-black: #272D2C;
$primary-white: #F2F4F4;
$primary-white-transp: rgba(242, 244, 244, 0.6);
$clear-grey: #F9F9F9;
$light-grey: #979FA0;
$dark-grey: #5F6666;
$accent-blue: #16C4B3;
$accent-blue-transp: rgba(22, 169, 179, 0.5);
$accent-red: #D32647;
$accent-yellow: #E5B10C;
$accent-yellow-transp: rgba(229, 177, 12, 0.8);
$fb-blue: #3C5193;

$placeholder-map: url(../assets/img/map.svg);

@import 'general';
@import 'carousel';
@import 'map';
@import 'locations';
@import 'details-page';
@import 'login';
@import 'ontdek-profiel';
@import 'others';

.success-page {
	height: 100%;
	width: 100%;
	background-color: $accent-blue;
	color: $primary-white;
	text-align: center;

	.icon-close {
		position: absolute;
		top: .6em;
		right: .6em;
		font-size: 5em;
	}

	.icon-check {
		font-size: 35em;
		display: inline-block;
		margin-top: .9em;
	}

	p {
		font-size: 2.5em;
		margin-bottom: 0;
	}

	h2 {
		font-size: 4.2em;
		margin-top: 0;
		font-family: 'Suez One';
		font-weight: 200;
	}
}