$primary-black        : #272D2C;
$primary-black-transp : rgba(39, 45, 44, 0.7);
$primary-white        : #F2F4F4;
$primary-white-transp : rgba(242, 244, 244, 0.6);
$clear-grey           : #F9F9F9;
$light-grey           : #979FA0;
$middle-grey          : #9BA3A4;
$dark-grey            : #5F6666;
$blueish-grey         : #657A78;
$accent-blue          : #16C4B3;
$accent-blue-transp   : rgba(22, 169, 179, 0.7);
$accent-red           : #D32647;
$accent-yellow        : #E5B10C;
$accent-yellow-transp : rgba(229, 177, 12, 0.8);

html {

	* {
		margin: 0;
		padding: 0;
		font-family: 'Open Sans';
	}
}

body {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: $primary-black;

	.benches {
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

}

header {
	width: 38%;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	h1 {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Suez One';
		color: $primary-white;
		font-size: 3.5em;
		font-weight: 400;
		z-index: 3;
		text-align: center;
	}

	h2 {
		text-align: right;
		z-index: 3;
		font-family: 'Suez One';
		font-size: 1.5em;
		font-weight: 400;
		color: $light-grey;
		position: relative;
		right: .2em;
		bottom: .5em;
		margin-bottom: 1em;
	}
}

section {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid $primary-white-transp;
	margin-bottom: 2em;

	p {
		font-family: 'Open Sans';
		color: $primary-white;
		margin-top: 2em;
		margin-bottom: 2em;
		position: relative;
		z-index: 3;
		width: 80%;
		line-height: 1.4em;
		font-size: 1.2em;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-size: 1.6em;
		font-weight: 400;
		font-family: 'Suez One';
		color: $accent-blue;
		text-align: center;
		position: relative;
		z-index: 3;
	}
}

.dimensions {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.dim {
	width: 30%;
	flex-grow: 0;
	flex-shrink: 0;

	h3 {
		font-size: 1.3em;
		color: $accent-blue;
		font-family: 'Suez One';
		font-weight: 400;
		text-align: center;
		position: relative;
		z-index: 3;
	}

	p {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 100%;
		font-size: 1em;
		line-height: 1.2em;
	}
}

.center-p {
	text-align: center;
}

a, a:active, a:visited {
	text-decoration: none;
	color: $accent-blue-transp;
}

a:hover {
	color: $accent-blue
}

.fa {
	margin-left: 10px;
	margin-right: 10px;
}